In [1]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (1.4.7)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (1.0.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pypyodbc

Requirement already satisfied: pypyodbc in c:\programdata\anaconda3\lib\site-packages (1.3.2)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from pypyodbc) (52.0.0.post20210125)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pypyodbc as podbc
conn2 = podbc.connect("DRIVER={SQL Server};Server=localhost;Database=incubyte")
print(conn2)

<pypyodbc.Connection object at 0x0000020110B2B100>

In [6]:
import pandas as pd

In [7]:
SQL_Query = pd.read_sql_query('''SELECT * FROM [dbo].[customer]''',conn2)
print(SQL_Query)

  customername customerid customeropendate lastconsulteddate vaccinationtype  \
0         Alex          4       2021-10-16        2021-10-16           MVD
1      Avinash          6       2021-10-16        2021-10-16           MVD
2        Jacob          5       2021-10-16        2021-10-16           MVD
3         John          2       2021-10-16        2021-10-16           MVD
4         Matt          6       2021-10-16        2021-10-16           MVD
5      Pradnya          1       2021-10-16        2021-10-16           MVD
6        Robin          3       2021-10-16        2021-10-16           MVD

                                     doctorconsulted  state country  postcode  \
0  Pradnya                                       ...  BOS     NYC        1004
1  Pradnya                                       ...  MH      IND       20800
2  Pradnya                                       ...  VIC     AU        20005
3  Avinash                                       ...  TN      IND      600018
4  Pradnya                                       ...  Goa     Panji     20800
5  Avinash                                       ...  SA      USA       10001
6  Avinash                                       ...  WAS     PHIL     600045

  dateofbirth activecustomer
0  2021-10-16              A
1  2021-10-16              A
2  2021-10-16              A
3  2021-10-16              A
4  2021-10-16              A
5  2021-10-16              A
6  2021-10-16              A

In [ ]:
pd.read_sql_query(INSERT INTO [dbo].[customer]
           ([CustomerName]
           ,[CustomerID]
           ,[CustomerOpenDate]
           ,[LastConsultedDate]
           ,[VaccinationType]
           ,[DoctorConsulted]
           ,[State]
           ,[Country]
           ,[PostCode]
           ,[DateofBirth]
           ,[ActiveCustomer])
     VALUES
           ('chetan'
           ,7
           ,GETDATE()
           ,GETDATE()
           ,'MVD'
           ,'Pradnya'
           ,'MH'
           ,'IN'
           ,20809
           ,GETDATE()
           ,'A')